#skills {
  height: auto;
  min-height: 100vh;
  position: relative;
  width: 100vw;
}

#graph-ctn {
  opacity: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 200;
  height: 100vh;
  width: 100vw;
  background: #000c;
  animation: fadein 1s forwards;
  top: 0;
  left: 0;
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}
#graph-ctn-hidden {
  display: none;
}

#close {
  border-radius: 50%;
  width: 2.5vh;
  height: 2.5vh;
  position: absolute;
  top: 5vh;
  right: 10vh;
  z-index: 300;

}

#close:hover{
  cursor: pointer;
}

#skills-wrapper {
  height: auto;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#skills-bg-img-btm {
  display: inline-block;
  position: absolute;
  z-index: -1;
  width: 38%;
  bottom: 0;
  right: -10%;
}

#skills-bg-img-top {
  display: inline-block;
  position: absolute;
  z-index: -1;
  width: 40%;
  top: -5%;
  left: -15%;
  max-width: 60%;
}

#skills-content {
  max-width: 100vw;
  color: #d4e1d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skills-title {
  margin: 0px auto 80px 20%;
}
tspan {
  fill: #d4e1d5;
  font-family: "Source Sans Pro", sans-serif;
  font-size: auto;
}
polyline {
  stroke: #ffffff;
}

#skills-illu-btm {
  transform: scale(1.2) rotate(-35deg);
  opacity: 0.6;
  max-width: 100%;
}

#skills-illu-top {
  opacity: 0.4;
  width: 100%;
  transform: rotate(170deg);
}
#arbo-container {
  margin: 0px auto 80px 20%;
  position: relative;
  display: flex;
  height: 4vh;
  border: solid 1px white;
  width: 41.1vw;
  border-radius: 2vh;
  background: black;
}

.arbo-item-overall {
  border-radius: 2vh;
  position: absolute;
  z-index: 110;
  height: 100%;
  width: 11vw;
  display: flex;
  align-items: center;
  justify-content: end;
  min-width: 5vw;
  background: #1b1b1b;
}

.arbo-item-overall:hover {
  cursor: pointer;
}

.arbo-item-top-level {
  border-radius: 2vh;
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 11vw;
  display: flex;
  align-items: center;
  justify-content: end;
  min-width: 5vw;
  background: #272727;
  transform: translateX(10vw);
}

.arbo-item-middle-level {
  border-radius: 0 2vh 2vh 0;
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 11vw;
  min-width: 5vw;
  display: flex;
  align-items: center;
  justify-content: end;
  background: #303030;
  transform: translateX(1vw);
  animation: slidein 0.5s ease-in-out forwards;
}

@keyframes slidein {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20vw);
  }
}

.arbo-item-top-level:hover {
  cursor: pointer;
}

.arbo-item-middle-level:hover {
  cursor: pointer;
}

.arbo-item-bottom-level {
  border-radius: 0 2vh 2vh 0;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 11vw;
  display: flex;
  align-items: center;
  justify-content: end;
  min-width: 5vw;
  background: #3c3c3c;
  transform: translateX(2vw);
  animation: slideinbtm 0.5s ease-in-out forwards;
}

@keyframes slideinbtm {
  from {
    transform: translateX(10);
  }
  to {
    transform: translateX(30vw);
  }
}

.top-level {
  background: black;
}

.middle-level {
  background: rgb(17, 17, 17);
}

.bottom-level {
  background: rgb(39, 39, 39);
}

.circle {
  border-radius: 50%;
  height: 1.5vh;
  width: 1.5vh;
  background: #4296a4;
  margin: auto 1.5vh;
}
