#about {
  height: auto;
  min-height: 100vh;
  position: relative;
  margin-left: 70px;
  width: calc(100% - 70px);
}

#about-wrapper {
  height: auto;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

#about-bg-img-btm {
  display: inline-block;
  position: absolute;
  z-index: -1;
  width: 38%;
  bottom: 0;
  right: 0;
}

#about-bg-img-top {
  display: inline-block;
  position: absolute;
  z-index: -1;
  width: 40%;
  top: 0;
  left: -10%;
  max-width: 40%;
}

#about-content {
  color: #d4e1d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-text-wrapper {
  margin: 60px auto;
  width: 60%;
}

h3 {
  margin: 25px 15% 10px;
}
ul {
  margin: 0px auto;
}
li {
  margin-top: 10px;
}

.about-paragraph {
  width: 60%;
  text-align: justify;
  margin: 0px auto;
}

b {
  margin: 1% 3%;
  font-style: italic;
}

#about-illu-btm {
  opacity: 0.6;
  width: 100%;
}

#about-illu-top {
  opacity: 0.4;
  width: 100%;
  transform: rotate(150deg);
}

@media screen and (max-width: 640px) {
  #about {
    margin-left: 0;
    width: 100vw;
  }
  #about-text-wrapper {
    width: 90%;
  }
  .about-paragraph {
    width: 90%;
    text-align: justify;
  }

  #about-bg-img-top {
    height: 30%;
    width: 80%;
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: 2%;
    left: -36%;
    transform: rotate(8deg);
  }
  #about-illu-top {
    opacity: 0.4;
    height: 100%;
    max-width: 100%;
  }
  #about-bg-img-btm {
    display: inline-block;
    position: absolute;
    z-index: -1;
    width: 84%;
    bottom: -15%;
    right: 0;
  }
}
