#contact {
  height: auto;
  min-height: 100vh;
  background: green;
  position: relative
}

#contact-wrapper {
  height: auto;
  min-height: 100vh; 
  position: relative;
  z-index: 1;
  background:red;
}

#contact-bg-img {
  position: absolute;
  background: pink;
  z-index: -1;
  width: 50%;
  height: 30%;
  bottom:0;
  right:0
}

#contact-content {
  color: white
}

