#jumbotron {
  height: auto;
  min-height: 100vh;
  position: relative;
}

#jumbotron-wrapper {
  height: auto;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-title-ctn {
  width: 60vw;
}

#jumbotron-bg-img {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: end;
  z-index: -1;
  width: 100%;
  bottom: 0;
  right: 0;
  animation: appear-img-1 1.5s ease-in-out forwards 6.9s;
}

#jumbotron-illu {
  width: 60vw;
  right: -5%;
  opacity: 0.8;
}
#jumbotron-content {
  color: blue;
  margin-left: 10%;
}

#text {
  opacity: 0;
  padding: 1vw;
  font-size: 130%;
  max-width: 30vw;
  background: #111;
  font-family: "Source Sans Pro", sans-serif;
  border: solid 1px #5ce8ff;
  border-radius: 3px;
  color: #d9e1d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: appear 1s ease-in-out forwards 6.4s;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes appear-img-1 {
  to {
    opacity: 0.6;
  }
}
@keyframes appear-img-2 {
  to {
    opacity: 0.4;
  }
}

#logo {
  width: 100%;
  max-width: 100%;
  shape-rendering: auto;
  animation: fill 0.5s ease forwards 6s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 300.49;
  stroke-dashoffset: 300.49;
  animation: line-anim 2s ease forwards 0.3s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(2) {
  stroke-dasharray: 160.89;
  stroke-dashoffset: 160.89;
  animation: line-anim 3s ease forwards 0.6s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(3) {
  stroke-dasharray: 328.17;
  stroke-dashoffset: 328.17;
  animation: line-anim 3s ease forwards 0.9s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(4) {
  stroke-dasharray: 232.32;
  stroke-dashoffset: 232.32;
  animation: line-anim 2s ease forwards 1.2s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(5) {
  stroke-dasharray: 353.11;
  stroke-dashoffset: 353.11;
  animation: line-anim 2s ease forwards 1.5s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(6) {
  stroke-dasharray: 353.11;
  stroke-dashoffset: 353.11;
  animation: line-anim 2s ease forwards 1.8s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(7) {
  stroke-dasharray: 259.58;
  stroke-dashoffset: 259.58;
  animation: line-anim 1.5s ease forwards 2.1s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(8) {
  stroke-dasharray: 353.11;
  stroke-dashoffset: 353.11;
  animation: line-anim 3s ease forwards 2.4s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(9) {
  stroke-dasharray: 322.4;
  stroke-dashoffset: 322.4;
  animation: line-anim 2s ease forwards 2.7s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(10) {
  stroke-dasharray: 396.15;
  stroke-dashoffset: 396.15;
  animation: line-anim 2s ease forwards 3s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(11) {
  stroke-dasharray: 322.4;
  stroke-dashoffset: 322.4;
  animation: line-anim 2s ease forwards 3.3s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(12) {
  stroke-dasharray: 307.96;
  stroke-dashoffset: 307.96;
  animation: line-anim 2s ease forwards 3.6s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(13) {
  stroke-dasharray: 232.31;
  stroke-dashoffset: 232.31;
  animation: line-anim 2s ease forwards 3.9s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(14) {
  stroke-dasharray: 395.18;
  stroke-dashoffset: 395.18;
  animation: line-anim 2s ease forwards 0.3s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(15) {
  stroke-dasharray: 236.41;
  stroke-dashoffset: 236.41;
  animation: line-anim 1.5s ease forwards 0.6s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(16) {
  stroke-dasharray: 260.95;
  stroke-dashoffset: 260.95;
  animation: line-anim 3s ease forwards 0.9s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(17) {
  stroke-dasharray: 268.49;
  stroke-dashoffset: 268.49;
  animation: line-anim 3s ease forwards 1.2s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(18) {
  stroke-dasharray: 236.41;
  stroke-dashoffset: 236.41;
  animation: line-anim 3s ease forwards 1.5s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(19) {
  stroke-dasharray: 183.24;
  stroke-dashoffset: 183.24;
  animation: line-anim 3s ease forwards 1.8s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(20) {
  stroke-dasharray: 236.41;
  stroke-dashoffset: 236.41;
  animation: line-anim 3s ease forwards 2.1s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(21) {
  stroke-dasharray: 126.72;
  stroke-dashoffset: 126.72;
  animation: line-anim 3s ease forwards 2.4s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(22) {
  stroke-dasharray: 200.74;
  stroke-dashoffset: 200.74;
  animation: line-anim 3s ease forwards 2.7s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(23) {
  stroke-dasharray: 271.98;
  stroke-dashoffset: 271.98;
  animation: line-anim 3s ease forwards 3s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(24) {
  stroke-dasharray: 236.41;
  stroke-dashoffset: 236.41;
  animation: line-anim 3s ease forwards 3.3s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(25) {
  stroke-dasharray: 130.08;
  stroke-dashoffset: 130.08;
  animation: line-anim 3s ease forwards 3.6s;
  transition: all 3s ease-in-out;
}

#logo path:nth-child(1):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1.1) rotate(-4deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(2):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1) rotate(6deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(3):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1) rotate(-8deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(4):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1.05) rotate(6deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(5):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1.05) rotate(6deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(6):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(0.95) rotate(-4deg);
  transition: all 0.1s ease-in-out;
}
#logo path:nth-child(7):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1.05) rotate(-4deg);
  transition: all 0.1s ease-in-out;
}
#logo path:nth-child(8):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1.05) rotate(-2deg);
  transition: all 0.1s ease-in-out;
}
#logo path:nth-child(9):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1.04) rotate(2deg);
  transition: all 0.1s ease-in-out;
}
#logo path:nth-child(10):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1) rotate(-4deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(11):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(0.99) rotate(-7deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(12):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(0.99) rotate(-4deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(13):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1) rotate(1deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(14):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1.01) rotate(-4deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(15):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1.1) rotate(4deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(16):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(0.9) rotate(-4deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(17):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1.1) rotate(-4deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(18):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1.1) rotate(-2deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(19):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1) rotate(-5deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(20):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1) rotate(-6deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(21):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1.05) rotate(4deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(22):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1) rotate(-2deg);
  transition: all 0.1s ease-in-out;
}
#logo path:nth-child(23):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1.01) rotate(-6deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(24):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1) rotate(-2deg);
  transition: all 0.1s ease-in-out;
}

#logo path:nth-child(25):hover {
  fill: #5ce8ff;
  stroke: #5ce8ff;
  transform: scale(1.01) rotate(-4deg);
  transition: all 0.1s ease-in-out;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }

  to {
    fill: #d9e1d3;
  }
}

@media screen and (max-width: 640px) {
  #jumbotron-bg-img {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: end;
    z-index: -1;
    width: 100%;
    bottom: 12%;
    right: -6%;
    animation: appear-img-1 1.5s ease-in-out forwards 6.9s;
  }

  #jumbotron-illu {
    width: 136vw;
    right: -13%;
    opacity: 0.8;
    transform: rotate(322deg);
    /* bottom: 16%; */
  }
  #main-title-ctn {
    width: 100vw;
  }
  #text {
    opacity: 0;
    padding: 1vw;
    font-size: 130%;
    max-width: 50vw;
    background: #111;
    font-family: "Source Sans Pro", sans-serif;
    border: solid 1px #5ce8ff;
    border-radius: 3px;
    color: #d9e1d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: appear 1s ease-in-out forwards 6.4s;
  }
}
