#sidebar {
  width: 70px;
  height: 100vh;
  background: #111;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.nav-icon-ctn {
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-icon {
  margin: 5px 0px;
  width: 30px;
  padding: 10px;
}

#sidebar-logo-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background: #000;
  width: 70px;
  height: 70px;
}

#sidebar-ext-website-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background: #000;
  width: 70px;
  height: 140px;
}

.logo-icon {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5vh;
}

.logo{
  width: 45px;
}