#footer {
  height: auto;
  position: relative
}

#footer-wrapper {
  height: auto;
  position: relative;
  z-index: 1;
}

#footer-bg-img {
  position: absolute;
  background: pink;
  z-index: -1;
  width: 50%;
  height: 30%;
  bottom:0;
  right:0
}

#footer-content {
  height:30vh;
  bottom:0;
  background: #000;
  font-family: "Source Sans Pro", sans-serif;
  color: #5ce8ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icon-footer-container{
  margin-top: 6vh;
  height: 3vh;
  display: flex;
  width: 40vh
}

#footer-content-wrapper {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}