#footer {
  height: auto;
  position: relative;
  margin-left: 70px;
  width: calc(100% - 70px)
}

#footer-wrapper {
  height: auto;
  position: relative;
  z-index: 1;
}

#footer-bg-img {
  position: absolute;
  background: pink;
  z-index: -1;
  width: 50%;
  height: 30%;
  bottom:0;
  right:0
}

#footer-content {
  height:auto;
  min-height:30vh;
  bottom:0;
  background: #000;
  font-family: "Source Sans Pro", sans-serif;
  color: #5ce8ff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6vh;
}

#icon-footer-container{
  margin-top: 6vh;
  display: flex;
  justify-content: center;
  width: 40vh
}

#footer-content-wrapper {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  #footer {
    margin-left: 0;
    width: 100vw;
  }
  #footer-content-wrapper {
    width: auto;
  }
}